@media screen and (max-width: 767px) {
   /* -- Safety Precautions -- */
    .caution {
        height: 7vh;
    }

    .caution-content {
        font-size: 8px;
    }

    .caution-img {
        width: 19px; 
        padding-right: 5px;
    }

    .caution-bold {
        font-size: 11px;
        font-weight: 800;
        letter-spacing: 1px;
    }

    /* -- Navigation Bar -- */
    nav {
        position: initial;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 10vh;
    }

    /* -- Navigation Logo -- */
    .logo h1 {
        font-size: 19px;
    }

    /* -- Navigation Lists -- */
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 90%;
        position: absolute;
        top: 19vh;
        border-radius: 5px;
        height: 35vh;
        background: #111;
        transform: translateY(-155%);
        transition: 0.6s ease-in-out;
    }

    .nav-links a {
        color: white;
        font-size: 15px;
        padding-left: 15px;
    }

    .source-code a {
        color: white;
        background: none;
        padding-left: 15px;
        border: none;
    }

    .nav-active {
        transform: translateY(0%);
    }

    /* -- Navigation Menu/Burger -- */
    .menu {
        display: block;
    }

    /* -- Homepage -- */
    #homepage {
        height: 50vh;
    }

    .homepage-header-container {
        height: 40vh;
        width: 90%;
        margin: 0 auto;
    }

    .site-name {
        font-size: 21px;
    }

    .mils {
        font-size: 15px;
        margin: 15px 0 5px;
    }

    .creators {
        font-size: 15px;
    }

    .homepage-footer {
        height: 7vh;
    }

    .image-owner a {
        font-size: 13px;
    }

    /* -- Image Container -- */
    .images {
        padding-top: 30px;
    }

    #image-container {
        grid-template-columns: 1fr;
        width: 100%;
    }
}